.card-list {
    border: 1px solid rgba(255,255,255,0.40);
    min-height:200px ;
    text-align: center;
    background: rgba(255,255,255,0.20);
    padding:10px;
    position: relative;

    .card-text{
        position: absolute;
        left: 0;
        right: 0;
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        bottom:5px;
        color:#fff;
         vertical-align:middle;
         font-family: sans-serif;
         white-space: normal;
         word-break: break-word;
        h1 {
            font-size:20px; 
        }
        h3 {
            font-size:15px; 
        }
    }
}